<div class="tabla-container">
  <h2>Órdenes de compra</h2>
  <table class="tabla">
    <thead>
      <tr>
        <th>ID</th>
        <th>Proveedor</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Fecha emisión</th>
        <th>Fecha entrega esperada</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let orden of ordenesCompra">
        <td>{{ orden.id }}</td>
        <td>{{ getProviderName(orden.supplier_id) }}</td>
        <td>{{ getNombreProducto(orden.product_id) }}</td>
        <td>{{ orden.quantity }}</td>
        <td>{{ orden.formattedIssueDate }}</td>
        <td>{{ orden.formattedDeliveryDate }}</td>
        <td>{{ orden.status }}</td>
      </tr>
    </tbody>
  </table>

  <form (ngSubmit)="submitCompra()" #formCompra="ngForm" class="formulario">
    <h3>Añadir orden de compra</h3>

    <label>Proveedor:</label>
    <select required [(ngModel)]="nuevaCompra.supplier_id" name="supplier_id">
      <option *ngFor="let supplier of uniqueSuppliers" [value]="supplier.id">
        {{ supplier.name }}
      </option>
    </select>

    <label>Producto:</label>
    <select required [(ngModel)]="nuevaCompra.product_id" name="product_id">
      <option *ngFor="let producto of productosRaw" [value]="producto.id">
        {{ producto.name }}
      </option>
    </select>

    <label>Cantidad:</label>
    <input type="number" required [(ngModel)]="nuevaCompra.quantity" name="quantity">

    <label>Fecha emisión:</label>
    <input type="date" [value]="nuevaCompra.issue_date | date:'yyyy-MM-dd'" readonly>

    <label>Fecha entrega esperada:</label>
    <input type="date" required [(ngModel)]="nuevaCompra.expected_delivery_date" name="expected_delivery_date">

    <label>Estado:</label>
    <input type="text" [value]="'Pendiente'" readonly>

    <button type="submit">Guardar</button>
  </form>
</div>
