<div class="tabla-container">
  <h2>Pedidos de producción</h2>
  <table class="tabla">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha de creación</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Mandar a producción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidosProduccion">
        <td>{{ pedido.id }}</td>
        <td>{{ pedido.creation_date}}</td>
        <td>{{ getNombreProducto(pedido.product_id) }}</td>
        <td>{{ pedido.quantity }}</td>
        <td>
          <button (click)="mandarAProduccion(pedido.id)" [disabled]="pedido.status !== 'pending'">
            Mandar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
